#largeImage {
    border-radius: 50px;
    border-width: 10px;
    border-color: white;
    border-style: solid;

}

.thumbnailGrid {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 5px;
    
}
img
    {
 border-radius: 15px;
 border-width: 2px;
 border-color: white;
 border-style: solid;

}

.thumbnailGrid img {
    width: 150px;
    height: 100px;
}

.active {
    border-color: red;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}